html
    head
        title= collection+"/"+title
        meta(name="viewport" content="width=device-width")
        link(rel="stylesheet" href="/static/style.css")
    body
        script(id="MathJax-script" src="/static/mathjax/tex-chtml.js")
        h1= collection+"/"+title
        each line in content.split('<br>')
            p= line
        a(id="back" href= "/main/"+collection)="Go back"